# === Terraform ignores (explicit, production-safe) ===

# Terraform/backend
Terraform/backend/terraform.tfstate
Terraform/backend/terraform.tfstate.backup
Terraform/backend/.terraform.lock.hcl
Terraform/backend/.terraform/
Terraform/backend/*.backup
Terraform/backend/*.tfplan
Terraform/backend/*.log
Terraform/backend/*.tfvars
Terraform/backend/terraform.tfvars

# Terraform/modules/vpc
Terraform/modules/vpc/terraform.tfstate
Terraform/modules/vpc/terraform.tfstate.backup
Terraform/modules/vpc/.terraform.lock.hcl
Terraform/modules/vpc/.terraform/
Terraform/modules/vpc/*.backup
Terraform/modules/vpc/*.tfplan
Terraform/modules/vpc/*.log
Terraform/modules/vpc/*.tfvars
Terraform/modules/vpc/terraform.tfvars

# Terraform/modules/eks
Terraform/modules/eks/terraform.tfstate
Terraform/modules/eks/terraform.tfstate.backup
Terraform/modules/eks/.terraform.lock.hcl
Terraform/modules/eks/.terraform/
Terraform/modules/eks/*.backup
Terraform/modules/eks/*.tfplan
Terraform/modules/eks/*.log
Terraform/modules/eks/*.tfvars
Terraform/modules/eks/terraform.tfvars


# .gitignore in the root of your project (TERRAFORM folder)

# Local .terraform directories
# This will ignore any .terraform folder in any subdirectory
**/.terraform/
*.tfvars
# Terraform state files
# This will ignore any .tfstate file in any subdirectory
*.tfstate
*.tfstate.*

# Crash logs
crash.log
*.log

# Ignore override files as they are usually for local use only
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
*.auto.tfvars
*.auto.tfvars.json

# CLI configuration files
.terraformrc
terraform.rc
.terraform.lock.hcl